<div>
  <section class="w-100 row justify-content-end">
    <button
      color="warn"
      tabindex="-1"
      matDialogClose
      mat-icon-button
      class="align-self-end col-2"
    >
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <form class="m-5 px-5" [formGroup]="formCustomer">
    <input hidden type="number" class="form-control" formControlName="name" />

    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Nome </mat-label>

      <input
        matInput
        placeholder="Nome"
        formControlName="name"
        oninput="this.value = this.value.toUpperCase()"
      />

      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-12" appearance="outline">
      <mat-label> Telefone </mat-label>

      <input
        matInput
        placeholder="Telefone"
        formControlName="telephone"
        mask="(00) 0000-0000||(00) 0 0000-0000"
      />

      <mat-icon matSuffix>call</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Email</mat-label>

      <input matInput placeholder="Email" formControlName="email" />

      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
  </form>

  <section class="w-100 row justify-content-around mt-3 mb-3">
    <button class="col-3 btn" mat-flat-button matDialogClose [color]="'warn'">
      <span> Cancelar </span>
    </button>

    <button
      class="col-3 btn"
      mat-flat-button
      (click)="save()"
      [color]="'primary'"
    >
      <span> Salvar </span>
    </button>
  </section>
</div>
